@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
    list-style: none;
}

:root {
    --width-desktop: 1440px;
    --text-color: #f0f8ff;
}

body {
    background-color: #686868;
    /* height: 150vh; */
    padding-bottom: 150px;
}

a {
    text-decoration: none;
    color: unset;
}

/* ////////////////////////////// */
/* //////////ENCABEZADO////////// */
/* ////////////////////////////// */


.logo img {
    display: flex;
    width: 70px;
    background-color: rgba(224, 224, 207, 0.185);
    border-radius: 50px;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--width-desktop);
    margin: auto;
    font-size: 20px;
    height: 100px;
    padding-left: 20px;
}

/* //////// barra de menu/////// */

/* .global {
    height: 110px;
    width: 100%;
    background: linear-gradient(to right, #62BEF6, #EC7082); 
    position: fixed;
    z-index: 10;
    
} */

/* //////// barra de menu/////// */

.fondo {
    width: 100%;
    height: 130vh;
    position: fixed;
    background-image: linear-gradient(to right, #ec2f4b5d, #009dff52), url(./images/fondo-cabeza.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.wave {
    width: 100%;
    height: 90vh;
}

.icon-menu {
    display: none;
}

.nav {
    display: flex;
    color: var(--text-color);
    padding-right: 25px;
    gap: 20px;

}

.nav .nav__list {
    transition: all 0.15s ease-in-out 0s;
}

.nav__list:hover {
    text-decoration: underline rgb(235, 235, 18) 5px;
    transform: scale(1.2);
    cursor: pointer;

}

/* ////////////////////////////// */
/* //////////  CUERPO  ////////// */
/* ////////////////////////////// */

.cuerpo {
    max-width: var(--width-desktop);
    height: 600px;
    padding: 50px 10px 50px 10px;
    margin: auto;
    display: flex;
    z-index: 5;
    border: 5px solid red;
}


.datos {
    /* border: solid 1px blue; */
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    margin-left: 15px;
    justify-content: center;
    ;
}

.datos p {
    /* border: solid 1px rgb(92, 216, 148); */
    font-size: 50px;
    width: fit-content;
    font-weight: bold;
    color: var(--text-color);
    padding-left: 40px;
}

.datos .nombre {
    font-size: 80px;
    color: rgb(59, 13, 13);
    padding-left: 0px;
}

.datos .profesion {
    font-size: 50px;
}

.datos .profesion2 {
    font-size: 50px;
    color: #ffffff;
}

.images {
    width: 60%;
    height: 100%;
    margin-right: 120px;
    position: relative;
    display: flex;

}

.images div {

    transform: rotateY(-20deg) rotateX(20deg);
    transform-origin: left bottom;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.images div:hover {
    transform: rotateY(0deg) rotateX(0deg);
    filter: brightness(130%) saturate(120%)
}

.images:hover .img1 {
    transition-delay: 0.1;
    transform: translate(0px, 30px);
}

.images:hover .img2 {
    transition-delay: 0.5;
    transform: translate(-50px, 0px);
}

.images:hover .img3 {
    transition-delay: 0.1;
    transform: translate(0px, -30px);
}

.images .img1 {
    position: absolute;
    width: 412px;
    height: 274px;
    left: 375px;
    top: 170px;
    background: url(./svg/dron.svg), rgba(39, 20, 62, 0.3);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
    backdrop-filter: blur(20px);
    border-radius: 8px;
    background-size: cover;

}

.images .img2 {
    position: absolute;
    width: 401px;
    height: 223px;
    left: -100px;
    top: 210px;
    background: url(./svg/design.svg), rgba(39, 20, 62, 0.3);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
    backdrop-filter: blur(20px);
    border-radius: 8px;
    background-size: contain;
    background-repeat: no-repeat;

}

.images .img3 {
    position: absolute;
    width: 700px;
    height: 400px;
    left: 0px;
    top: 0px;
    background: url(./svg/desk.svg), rgba(23, 12, 61, 0.5);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
    backdrop-filter: blur(27.3844px);
    border-radius: 8px;
    background-size: contain;
    background-repeat: no-repeat;

}

/* /////////////////////////////////// */
/* /////////////about me///////////// */
/* /////////////////////////////////// */

.about_me {
    margin: auto;
    max-width: var(--width-desktop);
    margin-top: 300px;
    /* background-color: #e3e3e3; */
    display: flex;
    justify-content: center;
    padding-top: 150px;

}

.intro {
    width: 50%;
    font-family: 'Tilt Neon', cursive;
    text-align: justify;
    padding-bottom: 200px;
    font-size: 23px;
}

.intro .titulo {
    font-size: 40px;
    color: var(--text-color);
    text-align: center;
    margin: 27px;
}

/* /////////////////////////////////// */
/* /////////////contacto///////////// */
/* /////////////////////////////////// */

.contact {
    position: relative;
    width: 400px;
    height: 750px;
    margin: auto;
    margin-top: 200px;
    background: #1c1c1c;
    border-radius: 20px;
    overflow: hidden;
    /* inset: 4px; */
}

.borderojo {
    position: absolute;
    top: 0;
    inset: 0;
    z-index: 2;
}

.borderojo::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 110%;
    height: 100%;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    animation: giro 8s linear infinite;

}

.borderojo::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 110%;
    height: 100%;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    animation: giro 8s linear infinite;
    animation-delay: 4s;
}

.contact form {
    position: absolute;
    background: #1c1c1c;
    padding: 40px;
    inset: 4px;
    border-radius: 20px;
    z-index: 2;
}

.contact::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 110%;
    height: 100%;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    animation: giro 8s linear infinite;
    animation-delay: 6s;
}

.contact::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 110%;
    height: 100%;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    animation: giro 8s linear infinite;
    animation-delay: 2s;
}

@keyframes giro {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.contact form h2 {
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 50px;
    letter-spacing: 1px;
}

.contact form .inputbox {
    position: relative;
    width: 100%;
    margin-top: 25px;

}

.contact form .inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 20px;
    letter-spacing: 1px;
    transition: 0.5s;
    z-index: 1;
}

.contact form .inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    color: #f0f8ff;
    font-size: 20px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.contact form .inputbox input:valid~span,
.contact form .inputbox input:focus~span {
    color: #f0f8ff;
    font-size: 18px;
    transform: translatey(-35px);
}

.contact form .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: no;
}

.contact form .inputbox input:valid~i,
.contact form .inputbox input:focus~i {
    height: 44px;
}

.contact form .inputbox textarea {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    resize: none;
}

.contact form .button {
    display: flex;
    margin: 10px;
    padding: 15px;
    align-items: center;
    justify-content: center;

}

.contact form .button button {
    width: 70%;
    height: 40px;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    background: none;
    color: #fff;
    border: 3px solid rgba(226, 214, 214, 0.2);
}

.contact form .button button:hover {

    background: #03e9f4;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;

}

@media (max-width: 1300px) {

    .cuerpo {
        height: 500px;
    }

    .images .img1 {
        position: absolute;
        width: 340px;
        height: 189px;
        left: 300px;
        top: 220px;
        background-size: cover;
    }

    .images .img2 {
        position: absolute;
        width: 340px;
        height: 189px;
        left: -50px;
        top: 200px;
        background-size: cover;

    }

    .images .img3 {
        position: absolute;
        width: 570px;
        height: 300px;
        left: 30px;
        top: 60px;
        background-size: cover;
    }

    .datos .nombre {
        font-size: 70px;
    }

    .datos .profesion,
    .datos .profesion2 {
        font-size: 40px;
    }


}

@media (max-width: 1024px) {


    .cuerpo {
        height: 450px;
    }

    .images .img1 {
        width: 250px;
        height: 138px;
        left: 220px;
        top: 200px;
        background-size: cover;

    }

    .images .img2 {
        width: 250px;
        height: 138px;
        left: 00px;
        top: 0px;
        background-size: cover;
        z-index: 1;

    }

    .images .img3 {
        width: 440px;
        height: 232px;
        left: 0px;
        top: 70px;
        background-size: cover;
    }

    .datos .nombre {
        font-size: 50px;
    }

    .datos .profesion,
    .datos .profesion2 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {

    .encabezado {
        margin-bottom: 0px;
    }

    .nav {
        display: none;
    }

    .cuerpo {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .datos {
        width: calc(100% - 20px);
        margin: 30px 10px 0px 10px;
        height: 200px;
        border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .cuerpo .datos .nombre {
        font-size: 35px;
        position: relative;
    }

    .cuerpo .datos .profesion2 {
        font-size: 20px;
        position: relative;
        left: 90px;
        top: -25px;
    }

    .cuerpo .datos .profesion {
        font-size: 20px;
        position: relative;
        right: 130px;
        top: 23px;

    }

    .icon-menu {
        display: block;
        margin-right: 30px;
    }

    .images {
        border: 1px solid red;
        width: calc(100% - 20px);
        margin: 10px;
        height: 150px;
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 0px;
        gap: 25px;

    }


    .images .img3 {
        display: none;
    }

    .images .img1 {
        position: relative;
        width: 200px;
        height: 90px;
        left: 30px;
        top: 0px;
        background-size: cover;

    }

    .images .img2 {
        position: relative;
        width: 200px;
        height: 90px;
        left: 30px;
        top: 0px;
        background-size: cover;
        z-index: 1;

    }

    .images:hover .img1,
    .images:hover .img2 {
        transition-delay: 0.5;
        transform: translatey(-10px);
    }

    .images .img2:hover,
    .images .img1:hover {
        transform: scale(1.01);
    }


    .about_me {
        margin-top: 50px;
        padding-top: 150px;
    }

    .intro {
        width: 80%;
    }

    .intro .titulo {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .contact {
        margin-top: 100px;
    }
    @media (max-width: 425px) {
    
        .contact {
            border: 1px solid red;
        }
        .about_me  {
            border: 1px solid red;
        }
    }